/* ================================
        About
================================ */
#about{
  background-color:lightblue;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". about .";

  >div{
    grid-area: about;
  }
}
