/* ================================
        Convinced
================================ */
#convinced{
  background-color: $blue;
  padding-bottom: 56px;

  h2{
    margin-top: 23px;
  }
  p{
    color: $mediumgray;
    margin-top: 22px;
    margin-bottom: 60px;
  }
}
