/* ================================
        Convinced
================================ */
#convinced{
  background-color:lightgreen;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". convinced .";

  >div{
    grid-area: convinced;
  }
}
