/* ================================
        Hero
================================ */
#hero{
  background-color:orange;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". hero .";

  >div{
    grid-area: hero;
  }
}
