/* ================================
        Ingredients
================================ */
#ingredients{
  background-color:pink;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". ingredients .";

  >div{
    grid-area: ingredients;
  }
}
