/* ================================
        Pricing
================================ */
#pricing{
  h1{
    margin-top: 102px;
    margin-bottom: 36px;
  }
  p{
    margin-bottom: 111px;
  }
  li{
    list-style: none;
    margin-bottom: 19px;
  }
}
