/* ================================
        Pricing
================================ */
#pricing{
  background-color:violet;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". pricing .";

  >div{
    grid-area: pricing;
  }
}
